<li class="pure-menu-item">
  <a href="{% url 'job.candidate.list' %}" class="pure-menu-link">
    <i class="fa fa-group"></i>
    Candidates
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'job.elastic.search' %}" class="pure-menu-link">
    <i class="fa fa-search-plus"></i>
    Job Search
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'job.list' 0 %}" class="pure-menu-link">
    <i class="fa fa-university"></i>
    ILSPA Jobs
  </a>
</li>
