<li class="pure-menu-item{% if '/job/' in path %} pure-menu-selected{% endif %}">
  <a href="{% url 'job.candidate.list' %}" class="pure-menu-link">
    <i class="fa fa-group fa-fw"></i>
    Jobs Board
  </a>
</li>
