<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr valign="top">
      <th>Job Title</th>
      <th>Date Applied</th>
      <th>Application</th>
    </tr>
  </thead>
  <tbody>
    {% for application in contact.candidate.jobapplication_set.all %}
      <tr valign="top">
        <td>
          <a href="{% url 'job.detail' application.job.pk %}">
            {{ application.job.title }}
          </a>
        </td>
        <td>
          {% if application.apply_date %}
            {{ application.apply_date }}
          {% else %}
            Not submitted
          {% endif %}
        </td>
        <td>
          <a href="{% url 'job.application.detail' application.pk %}">View</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
