{% load thumbnail %}

{% if user.is_staff or user.contact.is_candidate %}
  <tr>
    <td></td>
    <td>
      <a href="{% url 'recruitment.candidate.update' %}">
        <i class="fa fa-edit"></i>
        Update Contact Details...
      </a>
    </td>
  </tr>
{% endif %}
<tr>
  <td>
    <span class="bold">Name:</span>
  </td>
  <td>
    {{ o.contact.full_name }}
  </td>
</tr>
<tr>
<tr>
  <td>
    <span class="bold">Address:</span>
  </td>
  <td>
    {% if o.contact.address_1 %}
      {{ o.contact.address_1 }}
      <br />
    {% endif %}
    {% if o.contact.address_2 %}
      {{ o.contact.address_2 }}
      <br />
    {% endif %}
    {% if o.contact.address_3 %}
      {{ o.contact.address_3 }}
      <br />
    {% endif %}
    {% if o.contact.town %}
      {{ o.contact.town }}
      <br />
    {% endif %}
    {% if o.contact.county %}
      {{ o.contact.county }}
      <br />
    {% endif %}
    {% if o.contact.postcode %}
      {{ o.contact.postcode }}
      <br />
    {% endif %}
    {% if o.contact.country %}
      {{ o.contact.country }}
      <br />
    {% endif %}
  </td>
</tr>
<tr>
  <td>
    <span class="bold">Email:</span>
  </td>
  <td>
    {{ o.contact.user.email }}
  </td>
</tr>
<tr>
  <td>
    <span class="bold">Phone:</span>
  </td>
  <td>
    {{ o.contact.phone }}
  </td>
</tr>
<tr>
  <td>
    <span class="bold">Mobile:</span>
  </td>
  <td>
    {{ o.contact.mobile }}
  </td>
</tr>
<tr>
  <td colspan="2">
    &nbsp;
  </td>
</tr>
<tr>
  <td>
    <h3><span class="bold">Profile</span></h3>
  </td>
  <td valign="bottom">
    {% if user.is_staff or user.contact.is_candidate %}
      <a href="{% url 'recruitment.candidate.update.profile' %}">
        <i class="fa fa-edit"></i>
        Create/Update Profile...
      </a>
    {% endif %}
  </td>
</tr>
{% if o.picture %}
<tr>
  <td>
    <span class="bold">Photo:</span>
  </td>
  <td>
  {% if o.url %}
    <a href="{{ o.url }}" target="_blank">
  {% endif %}
  <img class="pure-img" src="{% thumbnail o.picture 150x150 crop %}" />
        {% if o.url %}
          </a>
        {% endif %}
  </td>
</tr>
{% endif %}
<tr>
  <td>
  {% if o.url %}
    <span class="bold">Website:</span>
  </td>
  <td>
    <a href="{{ o.url }}" target="_blank">{{ o.url }}</a>
  {% endif %}
  </td>
</tr>
{% if user.is_staff or user.contact.is_candidate %}
<tr>
  <td>
    <span class="bold">User Name:</span>
  </td>
  <td>
    {{ o.contact.user.username }}
  </td>
</tr>
  <tr>
    <td></td>
    <td>
      {% if user.is_staff %}
        <a href="{% url 'update_user_password' o.contact.user.pk %}">
      {% else %}
        <a href="{% url 'password_change' %}">
      {% endif %}
        <i class="fa fa-edit"></i>
        Change Password...
      </a>
    </td>
  </tr>
{% endif %}
{% if o.experience %}
  <tr>
    <td>
      <span class="bold">Experience</span>
    </td>
    <td>
      {% autoescape off %}
        {{ o.experience }}
      {% endautoescape %}
    </td>
  </tr>
{% endif %}
{% if o.highest_education %}
<tr>
  <td>
    <span class="bold">Highest Education:</span>
  </td>
  <td>
    {{ o.highest_education }}
  </td>
</tr>
{% endif %}
<tr>
  <td>
    <span class="bold">Looking for work:</span>
  </td>
  <td>
    {% include 'job/_candidate_looking_for_work.html' with candidate=o %}
  </td>
</tr>
<tr>
  <td>
    <span class="bold">CV:</span>
  </td>
  <td>
    {% if latest_cv %}
      {% if not is_recruiter %}
        {{latest_cv.base_file_name }}
        (uploaded {{ latest_cv.created|date:'SHORT_DATE_FORMAT' }}) <br>
      {% endif %}
      <a href="{% url 'job.cv.download' latest_cv.pk %}">Download</a>
    {% else %}
      Not available
    {% endif %}
  </td>
</tr>
