<div>
  <div style="margin-bottom: 3px;">
    {% if object %}
	<a class="button" href="{{ return_url }}">
        <i class="fa fa-reply"></i>
      </a>
    {% endif %}
    {% if save_url %}
      <a class="button" href="{{ save_url }}">
        <i class="fa fa-save"></i>
        Save
      </a>
    {% endif %}
  </div>
  {% if cv_path %}
    <iframe id=cvIframe src="{{ cv_path }}" height="400px" width="100%"></iframe>
    <script>
      var height = window.innerHeight - {% if header_height %}{{ header_height }}{% else %}200{% endif %};
      document.getElementById('cvIframe').style.height = height + 'px';
    </script>
    {% endif %}
</div>
