<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr valign="top">
      <th>Job Title</th>
      <th>Click Date</th>
      <th>No. Apply Clicks</th>
      <th>No. Views</th>
    </tr>
  </thead>
  {% for click in contact.candidate.jobtracking_set.all %}
    <tr valign="top">
      <td>
        <a href="{% url 'job.detail' click.job.pk %}">
          {{ click.job.title }}
        </a>
      </td>
      <td>
        {{ click.click_date|date:"d/m/Y" }}
      </td>
      <td>
        {{ click.application_click_count }}
      </td>
      <td>
        {{ click.view_count }}
      </td>
    </tr>
  {% endfor %}
</table>
