{% if user.is_staff or user.contact.is_candidate %}
  {% if user.is_staff %}
  <div class="sectionHeading">Candidate's Applications:</div>
  {% else %}
  <div class="sectionHeading">Your Applications:</div>
  {% endif %}
  <div class="job">
    <div class="jobLine">
      <div class="three cols columnHeading">Job title</div>
      <div class="two cols columnHeading">Publish Date</div>
      <div class="two cols columnHeading">Apply Date</div>
      <div class="one cols columnHeading">CV </div>
    </div>

    {% for application in o.jobapplication_set.all %}
      <div class="jobLine">
        <div class="three cols">
          <a href="{% url job_application_detail_url_name application.pk %}">
            {{ application.job.title }}
          </a>
        </div>
        <div class="two cols">
        {{ application.job.publish_date }}
        </div>
        <div class="two cols">
          {% if application.apply_date %}
            {{ application.apply_date }}
          {% else %}
            Not submitted
          {% endif %}
        </div>
        <div class="one cols">
          {% if application.cv %}
            <a href="{% url candidate_cv_view_url_name application.candidate.pk application.pk %}">View</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if user.is_staff %}
    <div class="jobLine">
      <div class="sectionHeading">Candidate's Clicks on Feed Links:</div>
    </div>
    <div class="job">
      <div class="jobLine">
        <div class="six cols columnHeading">Job title</div>
        <div class="two cols columnHeading">Click Date</div>
      </div>

      {% for click in o.jobtracking_set.all %}
        <div class="jobLine">
          <div class="six cols">
            {{ click.job.title }}
          </div>
          <div class="two cols">
            {{ click.created|date:"d/m/Y" }}
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
