<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          {% include 'base/_paginate.html' %}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <div class="l-box">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr valign="top">
            <th>
              Job Title
            </th>
            <th>
              Published
            </th>
            <th>
              Closing
            </th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
            <tr valign="top">
              <td>
                {% if job.deleted %}<del>{% endif %}
                <a href="{% url 'job.detail' job.pk %}">
                    {{ job.title }}
                </a>
                {{ job.location_name }}
                <small>
                  {% autoescape off %}
                    {{ job.description|truncatewords_html:30 }}
                  {% endautoescape %}
                </small>
                {% if job.deleted %}</del>{% endif %}
              </td>
              <td>
                {% if job.deleted %}<del>{% endif %}
                {% if job.publish_date %}
                  {{ job.publish_date|date:'d/m/Y' }}
                {% else %}
                  Not published
                {% endif %}
                {% if job.deleted %}</del>{% endif %}
              </td>
              <td>
                {% if job.close_date and not job.is_from_feed %}
                  {% if not job.is_current or job.deleted %}<del>{% endif %}
                  {{ job.close_date|date:'d/m/Y' }}
                  {% if not job.is_current or job.deleted %}</del>{% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
