<div class="pure-g">
  <div class="pure-u-1">
    <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          {% include 'base/_paginate.html' %}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <div class="l-box">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr valign="top">
            <th>
              Job Credit Purchase Date
            </th>
            <th>
              Payment Method
            </th>
            <th>
              Checkout Status
            </th>
            <th>
              Number
            </th>
            <th>
              Available
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for credit in object.recruiter.jobcredit_set.all %}
            <tr valign="top">
              <td>
                {% if credit.deleted %}<del>{% endif %}
                  {{ credit.created }}
                {% if credit.deleted %}</del>{% endif %}
              </td>
              <td>
                {% if credit.deleted %}<del>{% endif %}
                  {% if credit.checkout %}
                    <a href="{% url 'job.checkout.credit.detail' credit.pk %}">{{ credit.checkout.action }}</a>
                  {% else %}
                    {% if credit.paid %}
                    Manual Payment
                    {% else %}
                    Uncompleted Payment
                    {% endif %}
                  {% endif %}
                {% if credit.deleted %}</del>{% endif %}
              </td>
              <td>
                {% if credit.deleted %}<del>{% endif %}
                  {% if credit.checkout or not credit.paid %}
                  {{ credit.checkout_state }}
                  {% else %}
                    Manual
                  {% endif %}
                {% if credit.deleted %}</del>{% endif %}
              </td>
              <td>
                {% if credit.deleted %}<del>{% endif %}
                  {{ credit.credits }}
                {% if credit.deleted %}</del>{% endif %}
              </td>
              <td>
                {% if credit.deleted %}<del>{% endif %}
                  {{ credit.available_credits }}
                {% if credit.deleted %}</del>{% endif %}
              </td>
              <td>
                  {% if not credit.paid %}
                    <a href="{% url 'job.credit.mark-paid' credit.pk %}">Mark Paid</a>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
