{% load static %}
  <script src="{% static 'vendor/js/ckeditor/ckeditor.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    editorWidth=window.innerWidth * 2 / 3 - 200;
    CKEDITOR.replace('id_profile', { width: editorWidth });
    CKEDITOR.replace('id_description', { width: editorWidth });
    CKEDITOR.replace('id_skills', { width: editorWidth });
    CKEDITOR.replace('id_notes', { width: editorWidth });
    CKEDITOR.replace('id_employment_history', { width: editorWidth });
  </script>
