{% if legend %}
  {% if l_class %}
    <div class="{{ l_class }}">
  {% endif %}
  {{ legend }}
  {% if l_class %}
    </div>
  {% endif %}
{% endif %}

{% if field %}
  {% if f_class %}
    <div class="{{ f_class }}">
  {% endif %}
  {% autoescape off %}
    {% if detail %}
      {{ field }}
    {% else %}
      {{ field|truncatechars_html:250 }}
    {% endif %}
  {% endautoescape %}
  {% if f_class %}
    </div>
  {% endif %}
{% endif %}
