{% load thumbnail %}
{% if job_list %}
  {% if is_post %}
    <script>
      function newActionSubmitJobForm(newAction){
        $('#jobQueryForm').attr("action", newAction);
        $('#jobQueryForm').submit();
      }
    </script>
  {% endif %}
  {% include 'job/_paginate.html' %}
  {% for j in job_list %}
    <div class="jobBox">
      {% if j.recruiter.picture %}
        <div class="logo">
          <img src={% thumbnail j.recruiter.picture 80x80 crop %} alt='logo'>
        </div>
        <div class="detail">
      {% else %}
        <div class="nologo">
      {% endif %}
        <div class="jobRecruiter">
          <a href={% url job_detail_url_name j.pk %}>
            <span class='recruiterName'>{{ j.recruiter_name }}</span>
          </a>
        </div>
        <div class='jobTitle'>
          <a href={% url job_detail_url_name j.pk %}> {{ j.title }}</a>
        </div>
        <div class='jobListItem'>
          Closing Date: {{ j.close_date|date:'l jS F Y' }}
        </div>
        {% if j.location_name %}
          <div class='jobListItem'>
            Location: {{ j.location_name }}
          </div>
        {% endif %}
      </div>
      {% if j.description %}
        <div class="jobDescription">
          {% autoescape off %}
            {{ j.description |truncatechars_html:250 }}
          {% endautoescape %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
  {% include 'job/_paginate.html' %}
{% else %}
  <p style="padding-top: 20px;">Sorry, no jobs match your criteria</p>
{% endif %}
