<style>
    #jobQueryForm { border : 1px solid white; border-radius: 10px; padding: 10px; }
    #locationBox { padding: 10px; margin: 10px 0 20px 0; border-bottom : 1px solid white; }
    #otherBox { padding: 10px; margin: 10px 0 20px 0; }
    #jobQueryForm label { color: white; }
    #postcode label { width: 120px; }
    #postcode input,
    #postcode select { width: 80px; }
    #jobQueryForm .label { color: white; width:80px; padding: 0 10px 0 30px; }
    #jobQueryForm .orLabel { color: white; width:80px; padding: 10px 20px; }
    #jobQueryForm .title { font-weight: bold; font-size: 110%; color: white; padding-bottom: 10px; }
    #jobQueryForm legend { color: white; font-size: 120%; padding-top: 10px; text-align: center; }
    #jobQueryForm .buttonBar { text-align: center; padding-bottom: 10px; }
</style>

<form action="." method="post" enctype="multipart/form-data" id="jobQueryForm" class="flexform" >
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <fieldset>
    {% if legend %}
      <legend>{{ legend }}</legend>
    {% endif %}
    <div id="locationBox">
      <div class="title">Choose Location:</div>
      <div id="postcode">
        <label for='{{ form.postcode.id_for_label }}'>{{ form.postcode.label }}:</label>
        {{ form.postcode }}
        <span class="label">{{ form.postcode_range.label }}:</span>
        {{ form.postcode_range }}

        {% for error in form.postcode.errors %}
          <span class="errorlist"><mark>{{ error }}</mark></span>
        {% endfor %}
        {% for error in form.postcode_range.errors %}
          <span class="errorlist"><mark>{{ error }}</mark></span>
        {% endfor %}
        {% if form.postcode.help_text %}
          <div class="helptext">{{ form.postcode.help_text }}</div>
        {% endif %}
        {% if form.postcode_range.help_text %}
          <div class="helptext">{{ form.postcode_range.help_text }}</div>
        {% endif %}
      </div>
      <div class="jobline">
          <div class="orLabel">or</div>
      </div>
      <div class="row">
        <label for='{{ form.region.id_for_label }}'>{{ form.region.label }}:</label>
        {{ form.region }}
        {% for error in form.region.errors %}
          <span class="errorlist"><mark>{{ error }}</mark></span>
        {% endfor %}
        {% if form.region.help_text %}
          <div class="helptext">{{ form.region.help_text }}</div>
        {% endif %}
      </div>
    </div>

    <div id="locationBox">
      <div class="row">
        <label for='{{ form.recruiter.id_for_label }}'>{{ form.recruiter.label }}:</label>
        {{ form.recruiter }}
        {% for error in form.recruiter.errors %}
          <span class="errorlist"><mark>{{ error }}</mark></span>
        {% endfor %}
        {% if form.recruiter.help_text %}
          <div class="helptext">{{ form.recruiter.help_text }}</div>
        {% endif %}
      </div>

      <div class="row">
        <label for='{{ form.title.id_for_label }}'>{{ form.title.label }}:</label>
        {{ form.title }}
        {% for error in form.title.errors %}
          <span class="errorlist"><mark>{{ error }}</mark></span>
        {% endfor %}
        {% if form.title.help_text %}
          <div class="helptext">{{ form.title.help_text }}</div>
        {% endif %}
      </div>
    </div>

    <div class="buttonBar">
        <a onClick="jobQueryForm.submit()" class="button">Search</a>
    </div>
  </fieldset>
</form>

{% comment %}
{% include 'job/_job_form.html' with legend='Search for a job:' submit_legend='Search' %}
{% endcomment %}
