<table class="pure-table pure-table-bordered">
  <thead>
    <tr valign="top">
      <th>
        Candidate
      </th>
      <th>
        Location
      </th>
      <th>
        Date Clicked
      </th>
      <th>
        Application Click Count
      </th>
      <th>
        View Count
      </th>
    </tr>
  </thead>
  <tbody>
    {% for track in tracking %}
      <tr valign="top">
        {% if track.candidate %}
        <td>
          <a href="{% url 'contact.detail' track.candidate.contact.pk %}">
            {{ track.candidate.contact.full_name }}
          </a>
        </td>
        <td>
          {{ track.candidate.contact.town }},
          {{ track.candidate.contact.county }}
        </td>
        {% else %}
        <td colspan="2">
          User not logged in
        </td>
        {% endif %}
        <td>
          {{ track.click_date|date:'d/m/Y' }}
        </td>
        <td>
          {{ track.application_click_count }}
        </td>
        <td>
          {{ track.view_count }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

