<small>
  {% for x in job_feeds %}
    <li class="pure-menu-item">
      <a href="{% url 'job.list' x.pk %}" class="pure-menu-link">
        <i class="fa fa-university"></i>
        {{ x.slug|title }}
      </a>
    </li>
  {% endfor %}
</small>
