<form action="." method="post" enctype="multipart/form-data" id="jobForm" class="flexform" >
  {% csrf_token %}
  {% if form.non_field_errors %}
    {{ form.non_field_errors }}
  {% endif %}
  <fieldset>
    {% if legend %}
      <legend>{{ legend }}</legend>
    {% endif %}
    {% for field in form %}
      <div class="row">
        {% if field.label %}
          <label for='{{ field.id_for_label }}'>{{ field.label }}:</label>
        {% endif %}
        {% if aligned %}
          {{ field }}
          {% for error in field.errors %}
            <span class="errorlist"><mark>{{ error }}</mark></span>
          {% endfor %}
        {% endif %}
        {% if not aligned %}
          {{ field }}
        {% endif %}
        {% if field.help_text %}
        <div class="helptext">{{ field.help_text }}</div>
        {% endif %}
        {% if not aligned %}
          {% for error in field.errors %}
            <span class="errorlist">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    <div class="row">
      <p>
        <label>&nbsp;</label>
        <a onClick="jobForm.submit()" class="button">{% if submit_legend %}{{ submit_legend }}{% else %}Submit{% endif %}</a>
      </p>
    </div>
  </fieldset>
  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
  {% endif %}
</form>
