<div class="job">
    <div class="sectionHeading">{{ application_title_text }}</div>
  <div class=row>
   {% include 'job/_html_field.html' with legend='' f_class='jobDescription' field=a.cover detail=True %}
  </div>
  <div class=row>
      <div class="two cols">
        CV:
      </div>
      <div class="six cols">
        {% if cv_url %}
          <a href="{{ cv_url }}">View</a>
        {% else %}
          No CV Attached
        {% endif %}
      </div>
  </div>
  <div class="row">
    {% if object.apply_date %}
      <div class="two cols">
        Submitted on:
      </div>
      <div class="six cols">
        {{ object.apply_date }}
      </div>
    {% else %}
      {% include 'job/_job_form.html' with legend='' submit_legend='Submit Application' multipart=True %}
    {% endif %}
  </div>
</div>
