<table class="pure-table pure-table-bordered">
  <thead>
    <tr valign="top">
      <th>
        Applicant
      </th>
      <th>
        Location
      </th>
      <th>
        Date Applied
      </th>
      <th>
        Application
      </th>
    </tr>
  </thead>
  <tbody>
    {% for applicant in applications %}
      <tr valign="top">
        <td>
          <a href="{% url 'contact.detail' applicant.candidate.contact.pk %}">
            {{ applicant.candidate.contact.full_name }}
          </a>
        </td>
        <td>
          {{ applicant.candidate.contact.town }},
          {{ applicant.candidate.contact.county }}
        </td>
        <td>
          {{ applicant.apply_date|default:"Not submitted yet" }}
        </td>
        <td>
          {% if applicant.cv %}
            <a href="{% url 'job.application.detail' applicant.pk %}">
              View
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
