{% load thumbnail %}
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-2-3">
    <div class="r-box">
      <table class="pure-table pure-table-bordered" width="100%">
        <tbody>
          <tr valign="top">
            <td>
              Recruiter
            </td>
            <td>
              <a href="{% url 'contact.detail' object.recruiter.contact.pk %}">
                {{ j.recruiter_name }}
              </a>
            </td>
          </tr>
          {% if j.recruiter.picture %}
            <tr valign="top">
              <td>
                Logo <small>(Recruiter)</small>
              </td>
              <td>
                <img src={% thumbnail j.recruiter.picture 80x80 crop %} alt='logo'>
              </td>
            </tr>
          {% endif %}
          {% if j.picture %}
            <tr valign="top">
              <td>
                Logo <small>(Job)</small>
              </td>
              <td>
                <img src={% thumbnail j.picture 80x80 crop %} alt='logo'>
              </td>
            </tr>
          {% endif %}
          <tr valign="top">
            <td>
              Title
            </td>
            <td>
              <a href="{% url 'job.update' object.pk %}">
                <i class="fa fa-edit"></i>
                {{ j.title }}
              </a>
            </td>
          </tr>
          {% if j.location_name %}
            <tr valign="top">
              <td>
                Location
              </td>
              <td>
                {{ j.location_name }}
              </td>
            </tr>
          {% endif %}
          {% if object.is_from_feed %}
            <tr>
              <td>
                Imported from
              </td>
              <td>
                {% with object.jobfeeditem as jobfeeditem %}
                  <a href="{{ jobfeeditem.url }}" target="_blank">
                    <i class="fa fa-external-link"></i>
                    {{ jobfeeditem.feed.slug|title }} - {{ jobfeeditem.jobkey }}
                  </a>
                {% endwith %}
              </td>
            </tr>
          {% endif %}

        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-1-3">
    <table class="pure-table pure-table-bordered" width="100%">
      <tbody>
        {% if j.salary %}
          <tr valign="top">
            <td>
              Salary
            </td>
            <td>
              {{ j.salary }}
            </td>
          </tr>
        {% endif %}
        {% if j.job_role %}
          <tr valign="top">
            <td>
              Job Role
            </td>
            <td>
              {{ j.job_role }}
            </td>
          </tr>
        {% endif %}
        {% if j.practice_area %}
          <tr valign="top">
            <td>
              Practice area
            </td>
            <td>
              {{ j.practice_area }}
            </td>
          </tr>
        {% endif %}
        <tr valign="top">
          <td>
            Published
          </td>
          <td>
            {% if j.publish_date %}
              {% if j.is_closed %}
                {{ j.publish_date|date:"d/m/Y" }}
              {% else %}
                <a href="{% url 'recruitment.candidate.job.detail' j.pk %}">
                  <i class="fa fa-link"></i>
                  {{ j.publish_date|date:"d/m/Y" }}
                </a>
              {% endif %}
            {% else %}
              Not Published
            {% endif %}
          </td>
        </tr>
        {% if j.close_date %}
          <tr valign="top">
            <td>
              Closing date
            </td>
            <td>
              {{ j.close_date|date:'d/m/Y' }}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% if j.description %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="r-box">
        <h4>Job Description</h4>
        {% if j.deleted %}<del>{% endif %}
        {% autoescape off %}
          {{ j.description }}
        {% endautoescape %}
        {% if j.deleted %}</del>{% endif %}
      </div>
    </div>
  </div>
{% endif %}
