{% load thumbnail %}
<div class="pure-g">
  <div class="pure-u-1">
    <h3>
      {% if user.is_staff %}
       <a href="{% url 'job.location.update' o.pk %}">
         <i class="fa fa-edit"></i>
         {{ o.title }}
        </a>
      {% else %}
        {% if o.url %}
          <a href="{{ o.url }}" target="_blank">
            {{ o.title }}
          </a>
        {% else %}
          {{ o.title }}
        {% endif %}
      {% endif %}
    </h3>
    {% if o.url %}
      <a href="{{ o.url }}" target="_blank">
        {{ o.url }}
      </a>
    {% endif %}
    {% autoescape off %}
      {{ o.description }}
    {% endautoescape %}
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    {% if o.address %}
      {{ o.address|linebreaksbr }}
    {% endif %}
    {% if o.url_map %}
      <br />
      <br />
      <a href="{{ o.url_map }}" target="_blank">
        <i class="fa fa-external-link"></i>
        Click here for a map....
      </a>
    {% endif %}
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    {% if o.url %}
      <a href="{{ o.url }}" target="_blank">
    {% endif %}
    {% if o.picture %}
      <img class="pure-img" src="{% thumbnail o.picture 150x150 crop %}" />
    {% endif %}
    {% if o.url %}
      </a>
    {% endif %}
  </div>
</div>
