{# to use this snippet you need to get the id of the form 'search_form' #}
{# and have a hidden form field called 'page_no' and set page_kwarg='page_no'. #}

{% if is_paginated %}
  <style>
    .pageLink:hover {
        cursor: pointer;
    }
  </style>
  <div class="horizontal-list">
    <ul>
      {% if page_obj.has_previous %}
        <li>
          {% if get_parameters %}
            <a href="?{{ get_parameters }}&page_no={{ page_obj.previous_page_number }}" class="pageLink">
          {% else %}
            <a href="?page_no={{ page_obj.previous_page_number }}" class="pageLink">
          {% endif %}
            <i class="fa fa-backward"></i>
            Previous Page
          </a>
        </li>
      {% else %}
      <li class="horizontal-list-disabled-item">
          <span>
            <i class="fa fa-backward"></i>
            Previous Page
          </span>
        </li>
      {% endif %}
      <li>
        <small>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>
      </li>
      {% if page_obj.has_next %}
        <li>
          {% if get_parameters %}
          <a href="?{{ get_parameters }}&page_no={{ page_obj.next_page_number }}" class="pageLink">
          {% else %}
          <a href="?page_no={{ page_obj.next_page_number }}" class="pageLink">
          {% endif %}
            Next Page
            <i class="fa fa-forward"></i>
          </a>
        </li>
      {% else %}
        <li class="horizontal-list-disabled-item">
          <span>
            <i class="fa fa-forward"></i>
            Next Page
          </span>
        </li>
      {% endif %}
    </ul>
  </div>
{% endif %}
