{# to use this snippet you need to get the id of the form 'search_form' #}
{# and have a hidden form field called 'page_no' and set page_kwarg='page_no'. #}
{# The form's submit button should call submitJobFormWithPage(); #}

{% if is_paginated %}
  <div class="horizontal-list">
    <ul>
      {% if page_obj.has_previous %}
        <li>
          <a class="pageLink" onclick="submitJobFormWithPage('{{ page_obj.previous_page_number }}')">
            <i class="fa fa-backward"></i>
            Previous Page
          </a>
        </li>
      {% else %}
      <li class="horizontal-list-disabled-item">
          <span>
            <i class="fa fa-backward"></i>
            Previous Page
          </span>
        </li>
      {% endif %}
      {% if page_obj.has_next %}
        <li>
          <a class="pageLink" onclick="submitJobFormWithPage('{{ page_obj.next_page_number }}')">
            Next Page
            <i class="fa fa-forward"></i>
          </a>
        </li>
      {% else %}
        <li class="horizontal-list-disabled-item">
          <span>
            <i class="fa fa-forward"></i>
            Next Page
          </span>
        </li>
      {% endif %}
      <li>
        <small>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>
      </li>
    </ul>
  </div>
{% endif %}
