<div class="pure-g">
  <div class="pure-u-1">
    {% if user.is_staff or user.contact.is_recruiter %}
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr valign="top">
            <th>
              Job title
            </th>
            <th>
              Post date
            </th>
            <th>
              Applicants
            </th>
          </tr>
        </thead>
        <tbody>
          {% for job in o.all_current_jobs %}
            <tr valign="top">
              <td>
                <a href="{% url 'job.detail' job.pk %}">
                  {{ job.title }}
                </a>
                {% autoescape off %}
                  {{ job.description|truncatewords_html:30 }}
                {% endautoescape %}
              </td>
              <td>
                {% if job.publish_date %}
                  {% if not job.is_current %}<strike>{% endif %}
                    {{ job.publish_date|date:"d/m/Y" }}
                  {% if not job.is_current %}</strike>{% endif %}
                {% else %}
                  Not published
                {% endif %}
              </td>
              <td>
                {% if job.publish_date %}
                  {{ job.submitted_applications.count }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr valign="top">
            <th>
              Job title
            </th>
              Publish date
            <th>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for job in o.current_jobs %}
            <tr valign="top">
              <td>
                <a href="{% url job_detail_url_name job.pk %}">{{ job.title }}</a>
              </td>
              <td>
                {{ job.publish_date }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
</div>
