{% load thumbnail %}
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-16-24">
    <div class="r-box">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>
              <strong>Name</strong>
            </td>
            <td>

              <a href="{% url 'job.recruiter.update' object.contact.pk %}">
                <i class="fa fa-edit"></i>
                {{ o.contact.company_name }}
              </a>



            </td>
          </tr>
          <tr valign="top">
            <td>
              <strong>Contact</strong>
            </td>
            <td>
              {{ o.contact.full_name }}
            </td>
          </tr>
          {% if o.contact_position %}
            <tr valign="top">
              <td>
              </td>
              <td>
                ({{ o.contact_position }})
              </td>
            </tr>
          {% endif %}
          <tr valign="top">
            <td>
              <strong>Address</strong>
            </td>
            <td>
              {% if o.contact.address_1 %}
                {{ o.contact.address_1|linebreaksbr }},
              {% endif %}
              {% if o.contact.address_2 %}
                {{ o.contact.address_2|linebreaksbr }},
              {% endif %}
              {% if o.contact.address_3 %}
                {{ o.contact.address_3|linebreaksbr }},
              {% endif %}
              {% if o.contact.town %}
                {{ o.contact.town|linebreaksbr }},
              {% endif %}
              {% if o.contact.county %}
                {{ o.contact.county|linebreaksbr }},
              {% endif %}
              {% if o.contact.postcode %}
                {{ o.contact.postcode|linebreaksbr }},
              {% endif %}
              {% if o.contact.country %}
                {{ o.contact.country|linebreaksbr }}
              {% endif %}
            </td>
          </tr>
          {% if o.picture %}
            <tr valign="top">
              <td>
                <strong>Logo</strong>
              </td>
              <td>
                {% if o.website %}
                  <a href="{{ o.website }}" target="_blank">
                {% endif %}
                <img class="pure-img" src="{% thumbnail o.picture 150x150 crop %}" />
                {% if o.website %}
                  </a>
                {% endif %}
              </td>
            </tr>
          {% endif %}
          {% if o.website %}
            <tr valign="top">
              <td>
                <strong>Web</strong>
              </td>
              <td>
                <a href="{{ o.website }}" target="_blank">{{ o.website }}</a>
              </td>
            </tr>
          {% endif %}
          {% if o.business_type %}
            <tr valign="top">
              <td>
                <strong>Business type</strong>
              </td>
              <td>
                {{ o.business_type }}
              </td>
            </tr>
          {% endif %}
          {% if o.profile %}
            <div class="jobLine">
              <div class="two cols">
                  Profile:
              </div>
              <div class="six cols">
              </div>
            </div>
            <tr valign="top">
              <td>
                <strong>Profile</strong>
              </td>
              <td>
                {% autoescape off %}
                  {{ o.profile }}
                {% endautoescape %}
              </td>
            </tr>
          {% endif %}
          {% if o.profile_file_name %}
            <tr valign="top">
              <td>
                <strong>Additional info</strong>
              </td>
              <td>
                <a href="{{ o.profile_file_name }}" target="_blank">
                  {{ o.profile_file_name }}
                </a>
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-u-1 pure-u-md-8-24">
    <table class="pure-table pure-table-bordered">
      <tr valign="top">
        <td>
          <strong>User</strong>
        </td>
        <td>
          {{ o.contact.user.username }}
        </td>
      </tr>
      {% if user.is_staff %}
        <tr valign="top">
          <td>
            <strong>Search expires</strong>
          </td>
          <td>
            {% if o.search_expires %}
              <strike>{{ o.search_expires }}</strike>
            {% else %}
              Not available
            {% endif %}
          </td>
        </tr>
      {% endif %}
    </table>
  </div>
</div>
