<script type="application/ld+json"> {
  "@context" : "http://schema.org/",
  "@type" : "JobPosting",
  "title": "{{ j.title }}",
  {% autoescape off %}
  "description" : "{% if j.salary %}<p>Salary: {{ j.salary }}</p>{% endif %}{{ j.description_for_schema }}",
  {% endautoescape %}
  "identifier": {
    "@type": "PropertyValue",
    "name": "{{ j.recruiter.contact.full_name }}",
    "value": "{{ j.pk }}"
  },
  "datePosted": "{{ j.publish_date|date:'Y-m-d' }}",
  "validThrough" : "{{ j.close_date|date:'Y-m-d' }}T23:59",
  "employmentType" : "FULL_TIME",
  "industry": "Legal",
  "hiringOrganization" : {
    "@type" : "Organization",
    "name" : "{{ j.recruiter_name }}"{% if j.website %},
    "sameAs" : "{{ j.website }}"{% endif %}
  },
  "jobLocation" : {
    "@type" : "Place",
    "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "",
      "addressLocality" : "{{ j.location_text }}",
      "addressRegion" : "{{ j.location.region }}",
      "postalCode" : "{{ j.location.postcode }}",
      "addressCountry": "{{ j.location.country }}"
    }
  }
}
</script>
