<div class="pure-g">
  <div class="pure-u-1">
    <h4>Job</h4>
  </div>
</div>
<div class="pure-g">
  {% if user.is_staff %}
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="l-box">
        <a href="{% url 'job.landing.page.list' %}">
          <i class="fa fa-calendar"></i>
          Landing Pages
        </a>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="l-box">
        <a href="{% url 'job.location.list' %}">
          <i class="fa fa-calendar"></i>
          Locations
        </a>
      </div>
    </div>
  {% endif %}
</div>
