<style>
  .pageLink:hover {
      cursor: pointer;
  }
</style>
<script>
  function submitJobFormWithPage(newPage){
    $("#search_form input[name=page_no]").val(newPage);
    $('#search_form').submit();
  }
</script>
