{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Candidates
{% endblock sub_title %}

{% block sub_heading %}
  Candidates
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_dash.html' %}
          {% include 'job/_admin_top_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
        <form action="." id="search_form" method="get" enctype="multipart/form-data" class="pure-form pure-form-aligned">
          {% if form.non_field_errors %}
            {{ form.non_field_errors }}
          {% endif %}
          <fieldset>
            {% for field in form.visible_fields %}
              <div class="pure-control-group">
                {% if field.label %}
                  <label for='{{ field.id_for_label }}'>{{ field.label }}{% if field.help_text %} - {{ field.help_text }}{% endif %}:</label>
                {% endif %}
                {{ field }}
                {% for error in field.errors %}
                  <span class="errorlist"><mark>{{ error }}</mark></span>
                {% endfor %}
              </div>
            {% endfor %}
            <div class="pure-controls">
              <p>
                <input type="button" onclick="search_form.submit()" value="Search" class="pure-button pure-button-primary" />
              </p>
            </div>
          </fieldset>
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
        </form>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'job/_paginate.html' %}
          {% if object_list %}
            <li class="pure-menu-item">
              <a href="{% url 'report.candidate.selected.list' %}?{{ get_parameters }}" class="pure-menu-link">
                <i class='fa fa-file-excel-o'></i>
                Export table as CSV
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <style>
    th {  white-space: nowrap; }
    .candidateListOrder { cursor: pointer; }
  </style>
  <div class="pure-g">
    <div class="pure-u-1">
        <div id="candidateOrder"></div>
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th class="candidateListOrder" title="Click to Order by Name" onclick="setCandidateListOrder('name');">Name <i class='fa fa-sort'></i></th>
              <th>Location</th>
              <th>Looking for work</th>
              <th>Email</th>
              <th class="candidateListOrder" title="Click to Order by Experience" onclick="setCandidateListOrder('job_experience');">Experience <i class='fa fa-sort'></i></th>
              <th >Years Experience</th>
              <th >Education</th>
              <th class="candidateListOrder" title="Click to Order by Registered Date" onclick="setCandidateListOrder('created');">Registered <i class='fa fa-sort'></i></th>
              <th class="candidateListOrder" title="Click to Order by Last Login Date" onclick="setCandidateListOrder('last_login');">Last Login <i class='fa fa-sort'></i></th>
              <th >Notify Jobs</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'contact.detail' o.contact.pk %}">
                    {{ o.contact.user.first_name }} {{ o.contact.user.last_name }}
                  </a>
                </td>
                <td>
                  {{ o.contact.town }}{% if o.contact.town and o.contact.county %},{% endif %} {{ o.contact.county }}
                </td>
                <td>
                  {% include 'job/_candidate_looking_for_work.html' with candidate=o %}
                </td>
                <td>
                  {{ o.contact.user.email }}
                </td>
                <td>
                  {{ o.job_experience }}
                </td>
                <td>
                  {{ o.experience }}
                </td>
                <td>
                  {% if o.highest_education %}
                    {{ o.highest_education }}
                  {% endif %}
                </td>
                <td>
                  {{ o.created|date:'DATE_FORMAT' }}
                </td>
                <td>
                  {{ o.contact.user.last_login|date:'DATE_FORMAT' }}
                </td>
                <td>
                  {% if o.consent_notify_jobs %}
                    Yes
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'job/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script>
    $(function(){
      $('#id_area').on('click', function(){ $(this).select(); });
      order_by = $('#id_order_by').val();
      if (order_by) {
        desc = '';
        if (order_by.charAt(0) == '-') {
          desc = " (Descending)";
          order_by = order_by.substr(1);
        }
        if (order_by == 'created')
            order_by = 'Registered';
        else if (order_by == 'last_login')
            order_by = 'Last Login';
        else if (order_by == 'highest_education')
            order_by = 'Education';
        else
            order_by = order_by.charAt(0).toUpperCase() + order_by.substr(1).toLowerCase();

        $('#candidateOrder').html('Candidates ordered by : ' + order_by + desc);
      }
    });

    function set_radius_enabled() {
        if($('#id_data_type').val() == "postcode") {
            $('#id_radius').prop('disabled', false);
        } else {
            $('#id_radius').prop('disabled', true);
        }
    }
    set_radius_enabled();
    // https://github.com/devbridge/jQuery-Autocomplete
    $('.autocomplete').autocomplete({
        minChars: 2,
        serviceUrl: '{% url 'job.location.region' %}',
        onInvalidateSelection: function () {
            console.log("onInvalidateSelection");
            $('#id_data_type').val("");
            $('#id_code').val("");
            $('#id_radius').prop('disabled', true);
        },
        onSelect: function (suggestion) {
            $('#id_data_type').val(suggestion.data.data_type);
            $('#id_code').val(suggestion.data.code);
            set_radius_enabled();
        }
    });

    function setCandidateListOrder(listOrder) {
      var existing_order = $('#id_order_by').val();
      if (existing_order == listOrder)
        $('#id_order_by').val('-'+listOrder);
      else
        $('#id_order_by').val(listOrder);

      $('#search_form').submit();
    }
  </script>
{% endblock script %}
