{% extends 'dash/base.html' %}

{% block sub_title %}
  Candidate
{% endblock sub_title %}

{% block sub_heading %}
  Candidate
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' with legend=legend multipart=True %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {% include 'job/_editor.html' %}
  <script type="text/javascript">
    $(function(){
        $('#id_area').on('click', function(){ $(this).select(); }); 
    });

    function set_radius_enabled() {
        if($('#id_data_type').val() == "postcode") {
            $('#id_radius').prop('disabled', false);
        } else {
            $('#id_radius').prop('disabled', true);
        }
    }
    set_radius_enabled();
    // https://github.com/devbridge/jQuery-Autocomplete 
    $('.autocomplete').autocomplete({
        minChars: 2,
        serviceUrl: '{% url 'job.location.region' %}',
        onInvalidateSelection: function () {
            console.log("onInvalidateSelection");
            $('#id_data_type').val("");
            $('#id_code').val("");
            $('#id_radius').prop('disabled', true);
        },
        onSelect: function (suggestion) {
            $('#id_data_type').val(suggestion.data.data_type);
            $('#id_code').val(suggestion.data.code);
            set_radius_enabled();
        }
    });
  </script>
{% endblock script_extra %}
