{% extends 'job/base.html' %}

{% block sub_title %}
  Candidate: {{ object.contact.full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Candidate: {{ object.contact.full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            <li class="pure-menu-item">
              <a href="{% url 'job.candidate.update' object.contact.pk %}" class="pure-menu-link">
                <i class="fa fa-edit"></i>
                Edit candidate
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="row">
        <div class="half-view">
          <div class="sectionHeading">Personal Information:</div>
          {% include 'job/_candidate.html' with o=object %}
        </div>
        <div class="half-view">
          {% include 'job/_candidate_applications.html' with o=object %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
