{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Checkout Detail
{% endblock sub_title %}

{% block sub_heading %}
  Checkout Detail
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>Recruiter</td>
            <td>
              <a href="{% url 'contact.detail' object.recruiter.contact.pk %}">
                {{ object.recruiter.full_name }}
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>Checkout Status</td>
            <td><strong>{{ object.checkout_state.name }}</strong></td>
          </tr>
          {% for item in object.jobbasketitem_set.all %}
            <tr valign="top">
              <td>Job Title</td>
              <td>
                <a href="{% url 'job.detail' item.job.pk %}">
                  {{ item.job.title }}
                </a>
              </td>
            </tr>
            <tr valign="top">
              <td>Date Posted</td>
              <td>{{ item.job.publish_date|date:'d/m/Y H:i:s' }}</td>
            </tr>
            <tr valign="top">
              <td>Price</td>
              <td>{{ item.product.price }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <br>
      {% include 'checkout/_checkout_list.html' with object_list=checkout_audit %}
    </div>
  </div>
{% endblock content %}
