{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Checkout Detail
{% endblock sub_title %}

{% block sub_heading %}
  Checkout Detail
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <br>
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>Recruiter</td>
            <td>
              <a href="{% url 'contact.detail' object.recruiter.contact.pk %}">
                {{ object.recruiter.full_name }}
              </a>
            </td>
          </tr>
          <tr valign="top">
            <td>Checkout Status</td>
            <td><strong>{{ object.checkout_state.name }}</strong></td>
          </tr>
        </tbody>
      </table>
      <br>
      {% include 'checkout/_checkout_list.html' with object_list=checkout_audit %}
    </div>
  </div>
{% endblock content %}
