{% extends 'job/base.html' %}

{% block sub_title %}
  - Apply for the position: {{ job.title }}
{% endblock sub_title %}

{% block sub_heading %}
  Apply for the position: {{ job.title }}
{% endblock sub_heading %}

{% block content %}
  <!-- Job Details -->
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="row">
        <div class="half-view">
          <div class="left-box">
            <h3>Job Details:</h3>
            {% include 'job/_job.html' with j=job %}
          </div>
        </div>
        <div class="half-view">
          <div class="bluebox">
            {% include '_form.html' with legend='Your Application' submit_legend='Save' multipart=True %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
