{% extends 'job/base.html' %}

{% block sub_title %}
  - {{sub_heading}}
{% endblock sub_title %}

{% block sub_heading %}
  {{sub_heading}}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="left-box">
        {% include '_form.html' with legend='Job' multipart=True %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {% include 'base/_ckeditor.html' %}
  <script type="text/javascript">
    /* https://github.com/devbridge/jQuery-Autocomplete */
    $('.autocomplete').autocomplete({
        minChars: 2,
        serviceUrl: '{% url 'job.location' %}',
        onInvalidateSelection: function () {
            $('#id_code').val("");
        },
        onSelect: function (suggestion) {
            $('#id_code').val(suggestion.data.code);
        }
    });
  </script>
{% endblock script_extra %}
