{% extends 'job/base.html' %}

{% block sub_title %}
  {{ object.title }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ object.title }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            <li class="pure-menu-item">
              {% if next %}
                <a href="{{ next }}" class="pure-menu-link">
                  <i class="fa fa-reply"></i>
                </a>
              {% else %}
                <a href="{% url 'contact.detail' object.recruiter.contact.pk %}" class="pure-menu-link">
                  <i class="fa fa-reply"></i>
                  Recruiter
                </a>
              {% endif %}
            </li>
            <li class="pure-menu-item">
              {% if not object.deleted %}
              <a href="{% url 'job.delete' object.pk %}" class="pure-menu-link">
                <i class="fa fa-times"></i>
                Delete Job
              </a>
              {% else %}
              <a href="{% url 'job.undelete' object.pk %}" class="pure-menu-link">
                <i class="fa fa-retweet"></i>
                Undelete Job
              </a>
              {% endif %}
            </li>
            {% if not object.publish_date %}
              <li class="pure-menu-item">
                <a href="{% url 'job.publish' object.pk %}" class="pure-menu-link">
                  <i class="fa fa-thumbs-up"></i>
                  Publish Job
                </a>
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if object.deleted %}
        {% if object.date_deleted and object.user_deleted %}
          <center><h2>THIS JOB WAS DELETED BY {{object.user_deleted }} ON {{ object.date_deleted }}</h2></center>
        {% else %}
          <center><h2>THIS JOB IS DELETED</h2></center>
        {% endif %}
      {% endif %}
      <h4>
        Job Details
      </h4>
      {% include 'job/_job.html' with j=object %}
    </div>
  </div>
  <div>
    <div class="pure-g">
      <div class="pure-u-1">
        {% if applications|length %}
          <h4>Completed Applications:</h4>
          {% include 'job/_job_info.html' with applications=applications %}
        {% else %}
          {% if not object.is_from_feed %}
            <h4>There are no applications for this job.</h4>
          {% endif %}
        {% endif %}
        {% if tracking|length %}
          <h4>Application and View Clicks:</h4>
          {% include 'job/_job_tracker.html' with tracking=tracking %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
