{% extends 'job/base.html' %}
{% load static %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'job/css/job.css' %}">
{% endblock stylesheets_extra %}

{% block sub_title %}
  {% if job_feed %}
    {{ job_feed.slug|title }}
  {% else %}
    ILSPA
  {% endif %}
  Jobs
{% endblock sub_title %}

{% block sub_heading %}
  {% if job_feed %}
    {{ job_feed.slug|title }}
  {% else %}
    ILSPA
  {% endif %}
  Jobs
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_dash.html' %}
          {% include 'base/_paginate.html' %}
          {% include 'job/_admin_top_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'job/_job_feed_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if job_feed %}
        <small>
          <strong>{{ job_feed.slug|title }}</strong>
          imported
          {% with job_feed.stats as stats %}
            {% for key, value in stats.items %}
              <strong>{{ value }}</strong>
              jobs in the last
              <strong>{{ key }}</strong>
              {% if not forloop.last %}
                and
              {% endif %}
            {% endfor %}
          {% endwith %}
          ...
        </small>
      {% endif %}
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Recruiter</th>
            <th>Job</th>
            <th>
              <i class="fa fa-link"></i>
              Published
            </th>
            <th>Closing</th>
          </tr>
        </thead>
        {% for job in job_list %}
          <tr valign="top">
            <td>
              <a href="{% url 'contact.detail' job.recruiter.contact.pk %}">
                {{ job.recruiter_name }}
              </a>
              <br>
              <small>
                {% if job.is_from_feed %}
                  {% with job.jobfeeditem as jobfeeditem %}
                    <a href="{{ jobfeeditem.url }}" target="_blank">
                      <i class="fa fa-external-link"></i>
                      {{ jobfeeditem.feed.slug|title }} - {{ jobfeeditem.jobkey }}
                    </a>
                  {% endwith %}
                {% else %}
                  (ILSPA)
                {% endif %}
              </small>
            </td>
            <td>
              <a href="{% url 'job.detail' job.pk %}?next={{ request.get_full_path|urlencode }}">
                {{ job.title }}
              </a>
              <br />
              {{ job.location_name }}
            </td>
            <td>
              {% if job.publish_date %}
                {% if job.is_closed %}
                  {{ job.publish_date|date:"d/m/Y" }}
                {% else %}
                  <a href="{% url 'recruitment.candidate.job.detail' job.pk %}">
                    {{ job.publish_date|date:"d/m/Y" }}
                  </a>
                {% endif %}
              {% else %}
                Not Published
              {% endif %}
            </td>
            <td>
              {{ job.close_date|date:"d/m/Y" }}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No jobs posted yet</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_dash.html' %}
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
