{% extends 'dash/base.html' %}

{% block sub_heading %}
  Job Search
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_dash.html' %}
          {% include 'job/_paginate.html' %}
          {% include 'job/_admin_top_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <form action="." method="GET" class="pure-form">
    <fieldset>
      <style>
        .search-input { width: 95%; }
      </style>
      <div class="pure-g">
        {% for field in form.visible_fields %}
        <div class="pure-u-1 pure-u-md-1-5">{{field}}</div>
        {% endfor %}
        <div class="pure-u-1 pure-u-md-1-5">
          <button type="submit" class="pure-button pure-button-primary">
            <i class="fa fa-search"></i>
            Search
          </button>
        </div>
      </div>
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
    </fieldset>
  </form>
  <div class="pure-g">
    <div class="pure-u-1">
      {% if job_list %}
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr>
              <th>Location</th>
              <th>Job title</th>
              <th>Job role</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in job_list %}
              <tr valign="top">
                <td>
                  {% if obj.data.location %}
                    {{ obj.data.location }}
                  {% endif %}
                  {% if obj.data.recruiter_name %}
                    {% if obj.data.location %}
                      <br>
                    {% endif %}
                    {{ obj.data.recruiter_name }}
                    {% if obj.data.order_key == '2' or obj.data.order_key == 2 %}
                      (Feed)
                    {% endif %}
                  {% endif %}
                </td>
                <td>
                  {% if obj.data.title %}
                    <a href="{% url 'job.detail' obj.pk %}">{{ obj.data.title }}</a>
                  {% endif %}
                  {% if obj.data.practice_area %}
                    {% if obj.data.title %}
                      <br>
                    {% endif %}
                    {{ obj.data.practice_area }}
                  {% endif %}
                </td>
                <td>
                  {% if obj.data.job_role %}
                    {{ obj.data.job_role }}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        No results found
      {% endif %}
    </div>
  </div>
{% endblock content %}
