{% extends "job/base.html" %}

{% block sub_title %}
  Publish job
{% endblock sub_title %}

{% block sub_heading %}
  Publish job
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <form action="" method="post">{% csrf_token %}
          <p>
            Are you sure you want to publish this job?
          </p>
          {% include 'job/_job.html' with j=job %}
          <br />
          <br />
          <input type="submit" value="Publish" class="pure-button pure-button-primary" />
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

