{% extends "job/base.html" %}

{% block sub_title %}
  Undelete job
{% endblock sub_title %}

{% block sub_heading %}
  Undelete job
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include 'job/_job.html' with j=job %}
        {% include '_form.html' with legend='Are you sure you want to undelete this job' submit='Undelete' %}
      </div>
    </div>
  </div>
{% endblock content %}
