{% extends 'job/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Candidate: {{ object.candidate.contact.full_name }} Job: {{ object.job.title }}
{% endblock sub_title %}

{% block sub_heading %}
  Candidate: {{ object.candidate.contact.full_name }} &emsp; Job: {{ object.job.title }}
{% endblock sub_heading %}

{% block content %}
<!-- LH Table -->
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="l-box">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>
              Recruiter
            </td>
            <td>
              {% if object.job.recruiter.picture %}
                <img src={% thumbnail object.job.recruiter.picture 80x80 crop %} alt='logo'>
              {%endif %}
              {{ object.job.recruiter_name }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              Title
            </td>
            <td>
              <a href="{% url 'job.update' object.pk %}">
                <i class="fa fa-edit"></i>
                {{ object.job.title }}
              </a>
            </td>
          </tr>
          {% if object.job.location_name %}
            <tr valign="top">
              <td>
                Location
              </td>
              <td>
                {{ object.job.location_name }}
              </td>
            </tr>
            <tr valign="top">
              <td>
                Salary
              </td>
              <td>
                £{{ object.job.salary }}
              </td>
            </tr>
            <tr valign="top">
              <td>
                Date posted
              </td>
              <td>
                {{ object.job.publish_date|date:'d/m/Y' }}
              </td>
            </tr>
            <tr valign="top">
              <td>
                Closing date
              </td>
              <td>
                {{ object.job.close_date|date:'d/m/Y' }}
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
<!-- RH Table -->
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="l-box">
      <table class="pure-table pure-table-bordered">
        <tbody>
          <tr valign="top">
            <td>
              Applied for on:
            </td>
            <td>
              {{ object.apply_date|date:'d/m/Y' }}
            </td>
          </tr>
          <tr valign="top">
            <td>
              CV:
            </td>
            <td>
              {% if object.cv %}
                <a href="{% url 'job.cv.download' object.cv.pk %}">View</a>
              {% else %}
                No CV Attached
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <div class="l-box">
      <h3>Covering Letter</h3>
        {% autoescape off %}
          {{ object.cover }}
        {% endautoescape %}
    </div>
  </div>
</div>
<div class="pure-g">
  <div class="pure-u-1">
    <hr>
  </div>
  <div class="pure-u-1">
    <div class="l-box">
      <h3>Job Description</h3>
        {% autoescape off %}
          {{ object.job.description }}
        {% endautoescape %}
    </div>
  </div>
</div>
{% endblock content %}
