{% extends 'job/base.html' %}

{% block sub_title %}
  - {{sub_heading}}
{% endblock sub_title %}

{% block sub_heading %}
  {{sub_heading}}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="left-box">
        {% include '_form.html' with legend='Job Credit' multipart=True %}
      </div>
      <div>Total cost: <span id="id_total_price"></span> (N.B. These credits will be available to the recruiter when you submit)</div>
    </div>
  </div>
{% endblock content %}

{% block script %}
{{ block.super }}
{% include 'job/_jobcredit_total_price.js.html' %}
{% endblock script %}
