{% extends 'job/base.html' %}

{% block sub_title %}
  Edit Job Credit
{% endblock sub_title %}

{% block sub_heading %}
  Mark {{ object.credits }} Job Credits paid for {{ object.recruiter }} ({{ object.created }})
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="left-box">
        {% include '_form.html' with legend='Mark Job Credit Paid' multipart=True submit="Mark Paid" %}
      </div>
    </div>
  </div>
{% endblock content %}
