{% extends 'dash/base.html' %}

{% block sub_title %}
  Job Landing Pages
{% endblock sub_title %}

{% block sub_heading %}
  Job Landing Pages
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.settings' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Settings
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'job.landing.page.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Landing Page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table width="100%" class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Search</th>
          </tr>
        </thead>
        <tbody>
          {% for obj in object_list %}
            <tr valign="top">
              <td>
                <a href="{{ obj.page.get_absolute_url }}">
                  {{ obj.page.name }}
                </a>
                <br>
                <small>
                  <a href="{{ obj.page.get_design_url }}">
                    <i class="fa fa-edit"></i>
                    Design
                  </a>
                  <br>
                  <a href="{% url 'block.page.update' obj.page.pk %}">
                    <i class="fa fa-file-text-o"></i>
                    Page (SEO)
                  </a>
                </small>
              </td>
              <td>
                <small>
                  <a href="{% url 'job.landing.page.update' obj.pk %}">
                    <i class="fa fa-edit"></i>
                    {% if obj.location %}
                      Location:
                      {{ obj.location }}
                      <br>
                    {% endif %}
                    {% if obj.job_role %}
                      Role:
                      {{ obj.job_role }}
                      <br>
                    {% endif %}
                    {% if obj.practice_area %}
                      Practice Area:
                      {{ obj.practice_area }}
                    {% endif %}
                  </a>
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
