{% extends 'dash/base.html' %}

{% block sub_title %}
  Job Landing Page
{% endblock sub_title %}

{% block sub_heading %}
  Job Landing Page
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'job.landing.page.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Landing Pages
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' %}
    </div>
  </div>
{% endblock %}
