{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Job locations
{% endblock sub_title %}

{% block sub_heading %}
  Job locations
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'project.settings' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li>
            <a href="{% url 'job.location.create' %}">
              <i class="fa fa-calendar"></i>
              Add location
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'job.location.update' o.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ o.title }}
                  </a>
                </td>
                <td>
                  {% autoescape off %}
                    {{ o.description }}
                  {% endautoescape %}
                  <a href="{% url 'job.location' o.pk %}">
                    Click to see the location detail page...
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

