{% extends 'job/base.html' %}

{% block sub_title %}
  - {{ object.town }} - {{ object.postcode }}
{% endblock sub_title %}

{% block sub_heading %}
  {{ object.town }} - {{ object.postcode }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          {% if user.is_staff %}
            <li>
              <a href="{% url 'project.dash' %}">
                <i class="fa fa-reply"></i>
              </a>
            </li>
            <li>
              <a href="{% url 'job.location.update' object.pk %}">
                <i class="fa fa-edit"></i>
                Edit location
              </a>
            </li>
            <li>
              <a href="{% url 'job.location.list' %}">
                <i class="fa fa-calendar"></i>
                Locations
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      {% include 'job/_location.html' with o=object %}
    </div>
  </div>
{% endblock content %}
