{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Job recruiters
{% endblock sub_title %}

{% block sub_heading %}
  Job recruiters
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'project.dash' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'job.recruiter.create' %}" class="pure-menu-link">
              <i class="fa fa-calendar"></i>
              Add recruiter
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include 'base/_paginate.html' %}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Company</th>
              <th>Contact</th>
              <th>Location</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'job.recruiter.detail' o.pk %}">
                    {% if o.company_name %}
                      {{ o.company_name }}
                    {% else %}
                      ({{ o.full_name }})
                    {% endif %}
                  </a>
                </td>
                <td>
                  {{ o.contact.user.first_name }} {{ o.contact.user.last_name }}
                </td>
                <td>
                  {{ o.contact.town }}
                </td>
                <td>
                  {{ o.contact.user.username }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% include 'base/_paginate.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
