{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
  Recruiter
{% endblock sub_title %}

{% block sub_heading %}
  Recruiter
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend=legend multipart=True %}
    </div>
  </div>
{% endblock content %}

{% block script_extra %}
  {% include 'job/_editor.html' %}
{% endblock script_extra %}
