{% extends 'job/base.html' %}

{% block sub_title %}
  - Recruiter: {{ object.contact.company_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Recruiter: {{ object.contact.company_name }}
{% endblock sub_heading %}

{% block content %}
  {% include 'job/_recruiter.html' with o=object %}
  <br />
  {% include 'job/_recruiter_jobs.html' with o=object %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'job.recruiter.job.create' object.recruiter.pk %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Job
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
