{% extends 'dash/base.html' %}
{% load thumbnail %}

{% block sub_title %}
  Candidates
{% endblock sub_title %}

{% block sub_heading %}
  Candidates
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          <li>
            <a href="{% url 'job.recruiter.dash' %}">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {% include 'base/_paginate.html' %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'contact.detail' o.contact.pk %}">
                    {{ o.contact.user.first_name }} {{ o.contact.user.last_name }}
                  </a>
                </td>
                <td>
                    {{ o.contact.town }}, {{ o.contact.county }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% include 'base/_paginate.html' %}
{% endblock content %}
