{% extends 'dash/base.html' %}

{% block sub_title %}
  Stripe
{% endblock sub_title %}

{% block sub_heading %}
  Stripe
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <form action="" method="POST">
          {% include 'pay/_form_stripe.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

