{% extends "base/base.html" %}
{% load static %}

{% block title %}
  Jobs Board
{% endblock title %}

{% block heading %}
  Jobs Board
{% endblock heading %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block footer %}
{% endblock footer %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'example/css/example.css' %}">
  <link rel="stylesheet" href="{% static 'job/css/job.css' %}">
{% endblock stylesheets_extra %}

{% block menu %}
  <li class="pure-menu-item">
    <a class="pure-menu-link" href="{% url 'recruitment.job.search' %}">
      <i class="fa fa-search"></i>
      Job Search
    </a>
  </li>
  {% if user.is_staff %}
    {% include "job/_admin_menu.html" %}
    {% comment %}
    <li  class="pure-menu-item{% if path == '/member/' %} pure-menu-selected{% endif %}">
      <a class="pure-menu-link" href="{% url 'job.recruiter.list' %}">
        <i class="fa fa-cubes"></i>
        Recruiters
      </a>
    </li>
    {% endcomment %}
    <li  class="pure-menu-item{% if 'member/contact' in path %} pure-menu-selected{% endif %}">
      <a class="pure-menu-link" href="{% url 'job.list' '1' %}">
        <i class="fa fa-tasks"></i>
        Jobs
      </a>
    </li>
  {% endif %}
  {% if user.contact.is_candidate or user.contact.is_recruiter %}
    <li class="pure-menu-item">
    {# {{ user.contact }} #}
    </li>
    {% if user.contact.is_candidate %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{% url 'recruitment.candidate.dashboard' %}">
        <i class="fa fa-dashboard"></i>
        Dash
        {% if user.contact.is_recruiter %} (Can){% endif %}
      </a>
    </li>
    {% endif %}
    {% if user.contact.is_recruiter %}
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{% url 'recruitment.recruiter.dashboard' %}">
        <i class="fa fa-tasks"></i>
        Dash
        {% if user.contact.is_candidate %} (Rec){% endif %}
      </a>
    </li>
    <li class="pure-menu-item">
      <a class="pure-menu-link" href="{% url 'job.candidate.list' %}">
        <i class="fa fa-search"></i>
        CV Search
      </a>
    </li>
    {% endif %}
  {% endif %}
{% endblock menu %}
