{% extends "job/base.html" %}
{% load static %}

{% block sub_title %}
  Example app
{% endblock sub_title %}

{% block sub_heading %}
  Example app
{% endblock sub_heading %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'example/css/example.css' %}">
  <link rel="stylesheet" href="{% static 'job/css/job.css' %}">
{% endblock stylesheets_extra %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% if user.is_staff %}
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="{% url 'job.list' '1' %}" class="pure-menu-link">
                <i class="fa fa-calendar"></i>
                Jobs
              </a>
            </li>
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="pure-u-1">
      <div  class="pure-u-1-3">
        <h3>Search for a job:</h3>
        {% include 'job/_job_form.html' with legend='Search for a job:' submit_legend='Search' %}
      </div>
      <div  class="pure-u-1-3">
        <h3>Jobs matching your current search criteria</h3>
        {% include 'job/_job_list.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
