{% extends 'job/base.html' %}

{% block sub_title %}
  Apply for a job
{% endblock sub_title %}

{% block sub_heading %}
  Apply for a job
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' %}
      </div>
    </div>
  </div>
{% endblock content %}
