{% extends 'job/base.html' %}
{% load static %}

{% block stylesheets_extra %}
  <link rel="stylesheet" href="{% static 'job/css/job.css' %}">
{% endblock stylesheets_extra %}

{% block sub_title %}
  Job Search
{% endblock sub_title %}

{% block sub_heading %}
  Job Search
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_dash.html' %}
          {% if user.is_staff %}
          {% include 'job/_admin_top_menu.html' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <form action="." id="search_form" method="get" enctype="multipart/form-data" class="pure-form pure-form-aligned" xclass="pure-form-stacked">
          {% csrf_token %}
          {% if form.non_field_errors %}
            {{ form.non_field_errors }}
          {% endif %}
          <fieldset>
            {% for field in form.visible_fields %}
              <div class="pure-control-group">
                {% if field.label %}
                  <label for='{{ field.id_for_label }}'>{{ field.label }}{% if field.help_text %} - {{ field.help_text }}{% endif %}:</label>
                {% endif %}
                {{ field }}
                {% for error in field.errors %}
                    <span class="errorlist"><mark>{{ error }}</mark></span>
                {% endfor %}
              </div>
            {% endfor %}
            <div class="pure-controls">
              <p>
                <input type="button" onclick="submitJobFormWithPage()" value="Search" class="pure-button pure-button-primary" />
              </p>
            </div>
          </fieldset>
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
        </form>
      </div>
    </div>
  </div>
  {% include 'job/_paginate_temp.html' %}
  <table class="pure-table pure-table-bordered">
    <thead>
      <tr>
        <th>Recruiter</th>
        <th>Job</th>
        <th>Published</th>
        <th>Closing</th>
      </tr>
    </thead>
    {% for job in job_list %}
      <tr valign="top">
        <td>
          <a href="{% url 'contact.detail' job.recruiter.contact.pk %}">
            {{ job.recruiter.contact.company_name }}
          </a>
        </td>
        <td>
          <a href="{% url 'job.detail' job.pk %}">
            {{ job.title }}
          </a>
          <br />
          {{ job.location }}
        </td>
        <td>
          {% if job.publish_date %}
            {{ job.publish_date|date:"d/m/Y" }}
          {% else %}
            Not Published
          {% endif %}
        </td>
        <td>
          {{ job.close_date|date:"d/m/Y" }}
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4">No jobs posted yet</td>
      </tr>
    {% endfor %}
  </table>
  {% include 'job/_paginate_temp.html' %}
{% endblock content %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript">
    $(function(){
        $('#id_area').on('click', function(){ $(this).select(); }); 
    });

    function set_radius_enabled() {
        if($('#id_data_type').val() == "postcode") {
            $('#id_radius').prop('disabled', false);
        } else {
            $('#id_radius').prop('disabled', true);
        }
    }
    set_radius_enabled();
    // https://github.com/devbridge/jQuery-Autocomplete 
    $('.autocomplete').autocomplete({
        minChars: 2,
        serviceUrl: '{% url 'job.location.region' %}',
        onInvalidateSelection: function () {
            console.log("onInvalidateSelection");
            $('#id_data_type').val("");
            $('#id_code').val("");
            $('#id_radius').prop('disabled', true);
        },
        onSelect: function (suggestion) {
            $('#id_data_type').val(suggestion.data.data_type);
            $('#id_code').val(suggestion.data.code);
            set_radius_enabled();
        }
    });
  </script>
{% endblock script %}
