{% extends 'dash/base.html' %}

{% block sub_title %}
  Stripe
{% endblock sub_title %}

{% block sub_heading %}
  Stripe
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' with form_id='id_checkout_form' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {% include 'checkout/_stripe.js.html' %}
{% endblock script_extra %}
