h3, h4 {
    margin-bottom: 0px;
}

.left-box {
    padding-top: 1.3em;
    padding-right: 0.5em;
}

.section {
    border-top: 1px solid #989898;
    margin-top: 22px;
    margin-bottom: 5px;
}

.flexform .helptext {
    color: white;
}

.jobBox { width: 100%; border-bottom: 1px solid lightgray; margin: 5px 0;}
.jobBox .label { display:inline-block; width: 100px; vertical-align: top;}
.jobBox .field { display:inline-block; width: 295px; vertical-align: top;}
.jobBox .logo { display: inline-block; width: 85px; padding-top: 4px; vertical-align: top }
.jobBox .detail { display: inline-block; width: 310px; vertical-align: top; padding-bottom: 5px; }
.jobBox .nologo { display: inline-block; width:395px; padding-bottom: 5px; }

.jobRecruiter { width: 100%; font-weight: bold; padding: 5px 0px; }
.jobTitle { width: 100%; font-weight: bold; padding: 5px 0px; }
.jobListItem { padding-top: 2px; width: 100%; clear:both;}
.jobLine { padding-top: 10px; width: 100%; clear:both;}
.jobLineNoSpace { padding-top: 0px; width: 100%; clear:both;}
.jobDescription { width: 100%; padding-bottom: 5px;}
.jobDescription p { width: 100%; padding: 0px; margin-bottom: 0px; font-size: 100%;}
.recruiterLogo { float: left; padding: 0 5px 5px 0 }
.recruiterName { font-size: 150%; font-weight: bold; }

.horizontal-list { display: inline-block; zoom: 1; vertical-align: middle; }
.horizontal-list ul { margin-bottom : 0px; }
.horizontal-list li { display: inline-block; padding-right: 20px; }
.horizontal-list-disabled-item span,
.horizontal-list-disabled-item i { color: #aaaaaa!important; }

.button {
  background: #4e7098;
  border: 1px solid #4e7098;
  color: #fff !important;
  display: inline-block;
  line-height: normal;
  padding: 8px 25px;
  text-decoration: none;
  font-weight: normal;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 18px;
  vertical-align: middle;
}
.button:hover {
  color: #4e7098 !important;
  background: #ecf1f5;
  cursor: hand;
  cursor: pointer;
}

.sectionHeading {
    padding: 20px 0 10px 0px;
    font-weight: bold;
    font-size: 120%;
}

.columnHeading {
    font-weight: bold;
}

/*
#searchForm label {
	display: inline-block;
	width: 120px;
}

#searchForm input[type="text"] {
	display: inline-block;
	width: 320px;
}
*/
.strike {
    text-decoration: line-through;
}

.job                               { position: relative; width: 440px; margin: 0 auto; padding-bottom: 10px; min-height: 40px; }
.job .col,
.job .cols                         { float:left; display: inline; margin-left: 5px; margin-right: 5px; }
.job .line                         { width: 100%; margin-bottom: 20px; }

/* Nested col Classes */
.col.alpha, .cols.alpha            { margin-left: 0; }
.col.omega, .cols.omega            { margin-right: 0; }

.job .one.col,
.job .one.cols                     { width: 50px;  }
.job .two.cols                     { width: 100px; }
.job .three.cols                   { width: 150px; }
.job .four.cols                    { width: 200px; }
.job .five.cols                    { width: 250px; }
.job .six.cols                     { width: 300px; }
.job .seven.cols                   { width: 350px; }
.job .eight.cols                   { width: 400px; }
.job .nine.cols                    { width: 450px; }
.job .ten.cols                     { width: 500px; }
.job .eleven.cols                  { width: 550px; }
.job .twelve.cols                  { width: 600px; }
.job .thirteen.cols                { width: 650px; }
.job .fourteen.cols                { width: 700px; }
.job .fifteen.cols                 { width: 800px; }
.job .sixteen.cols                 { width: 850px; }

.job .one-third.col                { width: 300px; }
.job .two-thirds.col               { width: 620px; }

.half-view { display: inline-block; width:49%; vertical-align: top; }
